.welcome-container {
    background-color: #0872b9;
    color: #ffffff;
    // padding: 10px 100px;
    font-family: "Open Sans", sans-serif;
    .welcome-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 90%;
        margin: auto;

        .left-part {
            p {
                font-size: 20px;
                letter-spacing: 0.5px;
                font-weight: 400;
            }
        }
        .right-part {
            margin-left: auto;

            .social-icon-container {
                .social-icon {
                    color: #ffffff;
                    font-size: 22px;
                    cursor: pointer;
                    transition: color 0.5s ease-in;
                }

                .social-icon:hover {
                    color: #2a4456;
                }

                .social-icon:not(:last-child) {
                    margin-right: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .welcome-container{
        .welcome-items{
            flex-direction: column;
            .right-part{
                margin-right: auto;
                margin-top: 15px;
            }
        }
    }
}
